/* Write your CSS here */

.cart-summary-container {
  border: 2px solid blue;
  padding: 5px;
  align-self: flex-end;
  text-align: center;
}

.check-out-button {
  background-color: blue;
  color: white;
  padding: 5px;
  border: none;
  width: 100%;
}
